.container-register{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

.card-register{

    display: flex;
    justify-content: center;
    align-items: center;

     /* sombra */
     -webkit-box-shadow: 10px 11px 21px -6px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 11px 21px -6px rgba(0,0,0,0.75);
     box-shadow: 10px 11px 21px -6px rgba(0,0,0,0.75);
    

}

/* .register-img{

    position:relative;
    background: url("https://images.pexels.com/photos/1586793/pexels-photo-1586793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover cover;

} */
/* 
.card-center-item{

    display: flex;
    justify-content: center;
    align-items: center;

} */

.card-img{

    width: 100%;
    height: 600px;
    opacity: 0.6;

}

.text{

    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

.text h1{

    font-size: 4rem;

}

.input-register-style{

    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    border: 1px solid #0000002c;

}




